@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* Kontener na całą stronę */
html, body {
  height: 100%;
  max-width: 100%;
  overflow: hidden; /* blokuje scroll zarówno w pionie, jak i poziomie */
}

body {
 min-height: 100vh;
  background-color: #0b1116;
  background-image: url('/bg-pattern.svg');
  background-size: 80px 90px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #f1f5f9;
  font-family: sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto; 
  width: 100%;
}


.navbar {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 100; /* żeby zawsze było na wierzchu */
  padding: 0;   /* zerujemy padding, bo pozycję kontroluje top/left */
}

.logo-link {
  display: inline-block;
  text-decoration: none;
}

.logo-img {
  height: 70px; 
  width: auto;
  display: block;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 20px;
}